{% extends 'base/main.html' %} {%block content %}
<style></style>
<div class="header-bar">
  <div>
    <h1>Hello {{request.user|title}}</h1>
    <h3 style="margin: 0">
      You have <i> {{count}} </i> incomplete task{{ count|pluralize:"s" }}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
  <!-- <p> {{request.user}}</p> looks at the logged in user-->
  <a href="{%url 'logout' %}">Logout </a>
  {% else %}
  <a href="{% url 'login' %}">Login </a>
  {% endif %}
</div>

<div id="search-add-wrapper">

<!-- Search method-->
<form method="GET" style="margin-top: 20px;display:flex;">
  <input type="text" name="search-area" ,value="{{search_input}}" />
  <input class="button" type="submit" value="Search" />
</form>
<a id="add-link"href="{%url 'task-create' %}">&#x2b; </a>
<!-- now we have to render the data in template i.e the query-->
<!-- For that we have object_list-->
<!-- i have changed the object list to taks by ading a function called as context_object_name in views.py-->

</div>







<div class="task-items-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {%if task.complete %}
    <div class="task-title">
      
      
      
      <div class="task-complete-icon"></div>
      <i>
        <s> <a href="{% url 'task-update' task.id %}">{{task}}</a></s></i> <!-- strike out the completed task-->
    </div>
    <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>

    {% else %}
    <div class="task-title">
      <div class="task-incomplete-icon"></div>
       
          <a href="{% url 'task-update' task.id %}">{{task}}</a>
      </div>

      <a class="delete-link" href="{%url 'task-delete' task.id %}">&#215;</a>

        {% endif %} 
    </div>
      {% empty %}
      <h3>No items in list</h3>

      {% endfor %}
    </div>

    {%endblock content %}
  </div>
</div>
